/*------------------------------------*\
    #COMPONENTS: IMAGE
\*------------------------------------*/

/**
 * Component Block
 */

 .Image {

  figcaption {
    line-height: 20px;
    margin-top: var(--space);
  }
}

.Image + p,
p + .Image {
  margin-top: calc(var(--space) *2);
}

svg {width: 100%; height: auto;}